<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" >
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="bo container">
    <nav class="navbar navbar-expand-lg navStyle row" >
        <a class="brand-navbar " href="#"><img src="./assets/images/ONLANN.png" alt="Responsive image" height="40px"></a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#mainMenu">
            <span><i class="fas fa-align-right iconStyle"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="mainMenu">
            <ul class="navbar-nav ml-auto navList">
                
                <li class="nav-item"  >
                    <a  href="home" class="nav-link active"  style="font-family: sans-serif;font-style: gras;font-weight: bold;"><i class="fas fa-cogs"></i>Acceuil</a>
                </li>
                <li class="nav-item" >
                    <a href ="reunion" class="nav-link" style="font-family:sans-serif;font-style: gras;font-weight: bold;"><i class="fas fa-cogs"></i>Réunions</a>
                </li>
                <li class="nav-item" >
                    <a  class="nav-link" style="font-family:sans-serif;font-style: gras;font-weight: bold;"><i class="fas fa-briefcase"></i>Chatbot</a>
                </li>
                <li class="nav-item" >
                    <a  class="nav-link" style="font-family:sans-serif;font-style: gras;font-weight: bold;"><i class="fas fa-phone"></i>Byblos</a>
                </li>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </ul>
            <ul class="navbar-nav d-none d-md-block" >
                <li class="nav-item">
                    <a><img src="../..//assets/images/login.png" alt="" class="img-fluid rounded-circle" style="height: 28px; width: 28px;right:0 px;top:55px" (click)="onLogout()" value="Logout"></a>
                </li>
            </ul>
        </div>
    </nav>
    <div [ngStyle]="{backgroundImage:'url(/assets/images/chatbottt.png)'}" >
        <br><br><br><br><br><br><br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <h5 class="tit">&nbsp;&nbsp;<strong> Onlan </strong>
        </h5> 
      
        <h1 class="chatpa">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Votre assistant d’intégration virtuel,<br> Il est toujours disponible pour répondre à vos questions.</h1>
            <br><br><br><br><br><br><br><br><br><br><br><br>
        
    </div>  
         
   
    </body>
    </html>
